/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Title Container Styles */
.title-container {
    margin-top: 20px;
    text-align: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title img {
    height: 60px;
    width: 60px;
}

.title div {
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;
    color: #333;
}

/* Container for Form Styles */
.container-add-device {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(173, 173, 173, 0.3);
}

.login-box {
    padding: 20px;
}

/* Form Input Styles */
.user-box {
    position: relative;
    margin-bottom: 15px; /* Reduced margin for a more compact form */
}

.user-box input {
    width: 100%;
    padding: 8px; /* Reduced padding for a more compact form */
    font-size: 14px; /* Slightly smaller font size */
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.user-box input:focus {
    border-color: #3498db;
}

.user-box label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px; /* Slightly smaller font size */
    color: #888;
    transition: transform 0.3s, font-size 0.3s, color 0.3s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -15px;
    left: 0;
    font-size: 12px; /* Slightly smaller font size */
    color: #3498db;
}

/* Form Button Styles */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.footer a {
    text-decoration: none;
    color: #333;
}

.footer div img {
    height: 30px;
    width: 30px;
}

.add {
    display: inline-block;
    padding: 8px 15px; /* Adjusted padding for a more compact button */
    font-size: 14px; /* Slightly smaller font size */
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add:hover {
    background-color: #2980b9;
}
