:root {
    --primary-color: #3498db;
    --background-color: #f4f4f4;
    --text-color: #333;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
}

body {
    font-family: "Arial", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 15px;
    text-align: center;
}

.title-container {
    margin-top: 20px;
    text-align: center;
}

.title img {
    height: 60px;
    width: 60px;
}

.title div {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
    color: var(--text-color);
}

.container-graphe-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.container-image img {
    max-width: 100%;
    height: auto;
    border: 1px solid var(--box-shadow-color);
    border-radius: 8px;
}

.login-box {
    background-color: #fff;
    padding: 20px;
    border: 1px solid var(--box-shadow-color);
    border-radius: 8px;
    box-shadow: 0 0 15px var(--box-shadow-color);
}

.box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.footer {
    margin-top: 20px;
}

.footer a img {
    height: 30px;
    width: 30px;
}
