/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

/* Navigation Bar styles */
.navbar {
    background-color: whitesmoke;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo a {
    text-decoration: none;
    color: black;
    display: flex;
    font-weight: bold;
    align-items: center;
}

.logo img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #ffc107; /* Change to your desired hover color */
}

.out {
    text-decoration: none;
    color: black;
    display: flex;
    font-weight: bold;
    align-items: center;
}

.out img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Content area styles */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Add more styles as needed for your specific content */
