/* Variables */
:root {
    --primary-color: #2ecc71;
    --background-color: #ecf0f1;
    --text-color: #2c3e50;
    --box-shadow-color: rgba(0, 0, 0, 0.2);
}

/* Body Styles */
body {
    font-family: "Helvetica", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

/* Header Styles */
header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 15px;
    text-align: center;
}

/* Title Container Styles */
.title-container {
    margin-top: 20px;
    text-align: center;
}

/* Title Styles */
.title img {
    height: 80px;
    width: 80px;
}

.title div {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
    color: var(--text-color);
}

/* Container for Graph and Info Styles */
.container-graphe-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

/* Form Container (Login Box) Styles */
.login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px var(--box-shadow-color);
    max-width: 500px;
    width: 100%;
}

/* Individual Box Styles */
.box {
    margin-bottom: 20px;
}

/* Box Labels and Content Styles */
.box > div:first-child {
    font-weight: bold;
    margin-bottom: 10px;
}

.box > div:last-child {
    padding: 12px;
    border: 2px solid var(--primary-color);
    border-radius: 6px;
}

/* Footer Styles */
.footer {
    text-align: center;
    margin-top: 10px; /* Reduce the margin */
}

.minimized-footer {
    padding: 5px; /* Adjust the padding for a smaller size */
}

/* Back Button Styles */
.footer a {
    text-decoration: none;
    color: var(--text-color);
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    transition: background-color 0.3s;
}

.footer a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* Optional Back Button Icon Styles */
.footer img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
