/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial", sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

/* Title Container Styles */
.title-container {
    margin-top: 20px;
    text-align: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title img {
    height: 60px;
    width: 60px;
}

.title div {
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;
    color: #333;
}

/* Container for Device Information Styles */
.container_show_devices {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(173, 173, 173, 0.3);
}

.container-dev {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 10px;
    font-weight: bold;
    text-align: center;
    background-color: #1a1a1a;
    color: #fff;
}

.container-dev > div {
    padding: 10px;
}

.header {
    border-radius: 8px 8px 0 0;
}

.lines {
    max-height: 300px;
    overflow-y: auto;
}

.line {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.line a {
    text-decoration: none;
    color: #3498db;
}

.container_add {
    text-align: center;
    padding: 20px;
}

.container_add a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2ecc71;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.container_add a:hover {
    background-color: #27ae60;
}
