<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/show_device.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>

<body style="margin: 0px;font-family: 'Courier New', Courier, monospace;background-color: #3498db;">
    <div style="background-color: rgb(20, 20, 20);padding: 10px;border-radius: 0px 0px 20px 20px;">
        <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
          <a href="/dashboard"><img src="../static/imgs/logo.png" style="width: 60px;margin-left: 10px;" /></a><div style="">
                <h1 style="color: #fff; font-size: 25px;font-weight: bold; font-family: 'Courier New', Courier, monospace; margin: 0;">Monitoring Application</h1>
            </div>
            
            <a href="/log_out" style="text-decoration: none; display: flex;margin-right: 10px; flex-wrap: wrap; flex-direction: row; align-items: center;">
                <img src="../static/imgs/logout.png" style="width: 60px;">
                <h3 style="color: #fff; font-size: 20px; margin-left: 5px;">LogOut</h3>
            </a>
        </div>
    </div>
    {% block content %}

    <!-- title -->
    <div class="title-container">
        <div>
                <center><h3 style="color: rgb(20, 20, 20);font-weight: bold;margin-top: 50px;font-size: 40px;">Add iot Devices</h3></center>
        </div>
    </div>
    <center>
    <form action="/add_iot_device" method="post" style="width: 60%;text-align: left;font-size: 18px;font-weight: bold;border: 1px solid rgb(20, 20, 20);padding: 20px;background-color: rgb(20, 20, 20);color: #fff;border-radius: 10px;">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Name</label>
            <input type="text" class="form-control" name="name" id="inputEmail4" placeholder="Name">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Type</label>
            <input type="text" class="form-control" name="type" id="inputPassword4" placeholder="Type">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Device IP Address</label>
          <input type="text" class="form-control" name="ip" id="inputAddress" placeholder="Ex : 1.1.1.1">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Device MAC Address</label>
          <input type="text" class="form-control" name="mac_address" id="inputAddress2" placeholder="Ex : 5E:FF:56:A2:AF:15">
        </div>
        <div class="form-group">
            <label for="inputAddress2">Address</label>
            <input type="text" class="form-control" name="adresse" id="inputAddress2" placeholder="Ex : Avenue Mohammed 6 , Fes">
          </div>
        <div class="form-group">
        </div>
        <center><a href="/iot_devices"><button type="submit" class="btn btn-primary" style="width: 100%;margin-top: 20px;">Add</button></a></center>
      </form>
    </center>

    {% endblock %}

</body>

</html>
