<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Titre par défaut{% endblock %}</title>
    <link rel="stylesheet" href="../static/styles/header.css">
</head>

<body>
    <div class="bare-container">
        <div class="bare">
            <a href="/index" alt="">
            <div class="logo">
                <div>
                    <img src="../static/imgs/icons8-monitoring-chloe-96.png" alt="" srcset="">
                </div>
                <div>Monitoring Flask</div>
            </div>
            
            <a href="/showdevices" alt="" class="menu_showdevices">
                <div>Show devices</div>
            <a href="/showiotdevices" alt="" class="menu_showdevices">
                <div>Show IOT devices</div>
            <a href="/showdevices" alt="" class="menu_showdevices">
                <div>Open Metéo</div>
            <a href="/log_out" class="out">
                <div>
                    <img src="../static/svgs/power-button-svgrepo-com.svg" alt="" srcset="">
                </div>
                <div>Log Out</div>
            </a>
        </div>
    </div>
    {% block content %}{% endblock %}
</body>

</html>