<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulaire Device IOT</h1>
    <div>
        <form method="post" action="/">
            <label for="ip_address">IP Address : </label>
            <input type="text" id="ip_address" name="ip_address" required><br><br>
    
            <label for="mac_address">MAC Address : </label>
            <input type="text" id="mac_address" name="mac_address" required><br><br>
    
            <label for="latitude">Latitude : </label>
            <input type="text" id="latitude" name="latitude" required><br><br>
    
            <label for="longitude">Longitude : </label>
            <input type="text" id="longitude" name="longitude" required><br><br>
    
            <label for="date">Date : </label>
            <input type="date" id="date" name="date" required><br><br>
            
            <input type="submit" value="Submit">
        </form>
        <h1>Graphique Des Devices</h1>
        <form method="post" action="/plot">
            <label for="mac_address">Adresse MAC Du Device :</label>
            <input type="text" id="mac_address" name="mac_address" required>
            <button type="submit">Afficher Le Graphique</button>
        </form>
    </div>
</body>
</html>
