<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carte du Maroc</title>
    <!-- Inclure la bibliothèque Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>
    {% extends 'header.html' %}
    {% block title %}Monitoring{% endblock %}

    {% block content %}

    <h1> MAP </h1>
    <div id="map" style="height: 500px;"></div>

    <script>
        var mymap = L.map('map').setView([18.2812, 9.1021], 6);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(mymap);

        {% for device in devices_data %}
            var longitude = {{ device[-2] }};
            var latitude = {{ device[-1] }};
            var marker = L.marker([latitude, longitude]).addTo(mymap);
            marker.bindPopup("<b>name: {{ device[1] }}</b>").openPopup();
        {% endfor %}
    </script>
    {% endblock %}
</body>
</html>
