<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carte du Maroc</title>
    <!-- Include the Leaflet library -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="../static/styles/index.css">
</head>
<body>
    {% extends 'header.html' %}
    {% block title %}Monitoring{% endblock %}

    {% block content %}

    <h1> MAP </h1>
    <div id="map" style="height: 500px;"></div>

    <script>
        var mymap = L.map('map').setView([18.2812, 9.1021], 6);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(mymap);

        {% for device in devices_data %}
            var longitude = {{ device[-2] }};
            var latitude = {{ device[-1] }};
            var deviceName = "{{ device[1] }}";

            var marker = L.marker([latitude, longitude]).addTo(mymap);
            
            // Create a closure to capture the correct values for each iteration
            (function (marker, latitude, longitude, deviceName) {
                getTemperature(latitude, longitude, deviceName)
                    .then(temperature => {
                        marker.bindPopup("<b>name: " + deviceName + "</b><br>Temperature: " + temperature + " °C");
                    })
                    .catch(error => {
                        console.error('Error fetching weather data:', error);
                        marker.bindPopup("<b>name: " + deviceName + "</b><br>Error fetching weather data");
                    });
            })(marker, latitude, longitude, deviceName);
        {% endfor %}

        async function getTemperature(latitude, longitude, deviceName) {
            // Make an API call to get the temperature based on latitude and longitude
            var apiKey = "a783b884be7400e47e8fa2c6c611b734";
            var apiUrl = "http://api.openweathermap.org/data/2.5/weather?lat=" + latitude + "&lon=" + longitude + "&units=metric&appid=" + apiKey;

            try {
                var response = await fetch(apiUrl);
                var data = await response.json();
                var temperature = data.main.temp;
                return temperature;
            } catch (error) {
                console.error('Error fetching weather data:', error);
                throw error;
            }
        }
    </script>
    {% endblock %}
</body>
</html>
