<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Monitoring APP</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap'>
  <link rel="stylesheet" href="../static/styles/login.css">
</head>
<body>

  <div class="screen-1">
    <img src="..\static\images\user.png" class="logo" width="200" height="200" >
       
      </img>
    <form action="/authentication" method="post">
      <div class="username">
        <label for="username">Username</label>
        <div class="sec-2">
          <ion-icon name="username-outline"></ion-icon>
          <input type="text" name="username" placeholder="Username"/>
        </div>
      </div>
      <div class="password">
        <label for="password">Password</label>
        <div class="sec-2">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input class="pas" type="password" name="password" placeholder="············"/>
          <ion-icon class="show-hide" name="eye-outline"></ion-icon>
        </div>
      </div>
      <button class="login">Login </button>
      
      {% if error_message %}
      <div class="erreur-message">
          {{ error_message }}
      </div>
      {% endif %}
    </div>
    </form>
    
</body>
</html>