<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="">
</head>

<body>
    <div class="login-box">
        <h2>Login</h2>
        <form action="/authentication" method="post">
            <div >
                <input type="text" name="username" required="">
                <label>Username</label>
            </div>
            <div >
                <input type="password" name="password" required="">
                <label>Password</label>
            </div>
            <button >
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </button>
            {% if error_message %}
            <div class="erreur-message">
                {{ error_message }}
            </div>
            {% endif %}
        </form>
    </div>
</body>

</html>