<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/showiotdevices.css">
</head>

<body>
    {% extends 'header.html' %}
    {% block title %}Monitoring{% endblock %}

    {% block content %}
    <!-- title -->
    <div class="title-container">
        <div class="title">
            <div>
                <img src="../static/images/iot1.png" alt="">
            </div>
            <div>IOT DEVICES</div>
        </div>
    </div>

    <!-- container device -->
    <div class="container_show_devices">

        <!-- Table -->
        <table class="iot-devices-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>IP ADDRESS</th>
                    <th>MAC ADDRESS</th>
                    <th>LONGITUDE</th>
                    <th>LATITUDE</th>
                    <th>POSITION</th>
                    <th>Graphe</th>
                </tr>
            </thead>
            <tbody>
                {% if devices_data %}
                    {% for item in devices_data %}
                        <tr>
                            <td>{{ item[0] }}</td>
                            <td>{{ item[1] }}</td>
                            <td>{{ item[2] }}</td>
                            <td>{{ item[3] }}</td>
                            <td>{{ item[4] }}</td>
                            <td>{{ item[5] }}</td>
                            
                    
                            <td>
                                <a href="/index" alt="">
                                    <img src="../static/images/map.png" alt="" width="10" height="10">
                                </a>
                            </td>
                            <td>
                                <a href={{"/iotgraphe/" ~ item[0]|string }}  alt="">
                                    <img src="../static/svgs/graph-svgrepo-com(1).svg" alt="" width="10" height="10">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="9">No data available.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

        <!-- Button add -->
        <div class="container_add">
            <div>
                <a href="/addiotdevice">
                    Add IOT Device
                </a>
            </div>
        </div>
    </div>
    {% endblock %}

</body>

</html>
